<!doctype html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<style>
		body 		{ padding-top:40px; }
	</style>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {    
		    function clientCounter(){
		        $.ajax({
		            type: "GET",
		            url: "ajax",
		            //url: "www.google.com",
		            //data: dataString,
		            success: function(data) {
		                $('#value').text(data);
		            },error: function(err){
		            	$('#value').text(err.code);
		            }
		        });
		    }
		    setInterval(clientCounter, 5000);

		    function clientGenderCounter(){
		        $.ajax({
		            type: "GET",
		            url: "charts",
		            //url: "www.google.com",
		            //data: dataString,
		            success: function(data) {
		            	let myChart = document.getElementById('myChart').getContext('2d');
					    //var countH = document.getElementById('valueH');
					    //var countM = document.getElementById('valueM');
					    //alert(countH.text();

					    // Global Options
					    Chart.defaults.global.defaultFontFamily = 'Lato';
					    Chart.defaults.global.defaultFontSize = 10;
					    Chart.defaults.global.defaultFontColor = '#777';

					    let massPopChart = new Chart(myChart, {
					      type:'pie', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
					      data:{
					        labels:['H', 'M'],
					        datasets:[{
					          label:'Total',
					          data:[
					            data.h,
					            data.m
					          ],
					          //backgroundColor:'green',
					          backgroundColor:[
					          	'rgba(54, 162, 235, 0.6)',
					            'rgba(255, 99, 132, 0.6)'
					            
					          ],
					          borderWidth:1,
					          borderColor:'#777',
					          hoverBorderWidth:3,
					          hoverBorderColor:'#000'
					        }]
					      },
					      options:{
					      	animation: false,
					      	responsive: true,
					        title:{
					          display:false,
					          text:'% H/M',
					          fontSize:25
					        },
					        legend:{
					          display:true,
					          position:'top',
					          labels:{
					            fontColor:'#000'
					          }
					        },
					        layout:{
					          padding:{
					            left:0,
					            right:0,
					            bottom:0,
					            top:0
					          }
					        },
					        tooltips:{
					          enabled:true
					        }
					      }
					    });		    
		            },error: function(err){
		            	//$('#value').text(err.code);
		            }
		        });
		    }
		    setInterval(clientGenderCounter, 8000);
		});
	</script>
	
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">
	<!-- show any messages that come back -->
	<% if (message.length > 0) { %>
		<div class="alert <%= msgtype%>"><%= message %></div>
	<% } %>
	<p>

			<label>Total clientes</label>
			<div class="jumbotron" align="center">
				<h1><span id="value"></span></h1>
			</div>

			<label>Porcentaje H/M</label>
			<div class="jumbotron" align="center">
				<canvas id="myChart" width="100%"></canvas>
			</div>
	
	



	

	<br>

	<p>Registrar personal <a href="/regstaff">Registrar</a></p>
	<p>Buscar clientes <a href="/finder">Buscar</a>.</p>

	<hr>
		  <div class="row">
		    <div class="col-sm-12">
		      <div class="col-sm-6">
		        <a href="#">Instrucciones de Uso</a> | <a href="#">Problemas?</a>    
		      </div>
		      <div class="col-sm-6">
		        <p class="muted pull-right">© 2018 El Cortijo PUB. Todos los derechos reservados</p>
		      </div>
		    </div>
		  </div>



</div>
</body>
</html>