		<hr>
		  <div class="row">
		    <div class="col-sm-12">
		      <div class="col-sm-6">
		        <a href="#">Instrucciones de Uso</a> | <a href="#">Problemas?</a>    
		      </div>
		      <div class="col-sm-6">
		        <p class="muted pull-right">© 2018 El Cortijo PUB. Todos los derechos reservados</p>
		      </div>
		    </div>
		  </div>
		</div>