<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
	<title>Registrar Cliente</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<style>
		body 		{ padding-top:40px; }
	</style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-sign-in"></span> Registro de nuevo Cliente</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert <%= msgtype%>"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Nombres</label>
			<input type="text" class="form-control" required name="nombres">
		</div>
		<div class="form-group">
			<label>Apellidos</label>
			<input type="text" class="form-control" required name="apellidos">
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-9">
					<label>Documento de Identidad</label>
					<input type="number" class="form-control" required name="ci">
				</div>
				<div class="col-sm-3">
					<label>Exp. en</label>
					<select name="exp" class="form-control">
					  <option value="CB" selected>CB</option>
					  <option value="LP">LP</option>
					  <option value="SC">SC</option>
					  <option value="OR">OR</option>
					  <option value="PO">PO</option>
					  <option value="CH">CH</option>
					  <option value="BE">BE</option>
					  <option value="PA">PA</option>
					  <option value="TJ">TJ</option>
					</select>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>Ciudad de residencia</label>
			<select name="ciudad" class="form-control">
					  <option value="Cochabamba" selected>Cochabamba</option>
					  <option value="La Paz">La Paz</option>
					  <option value="Santa Cruz">Santa Cruz</option>
					  <option value="Oruro">Oruro</option>
					  <option value="Potosi">Potosi</option>
					  <option value="Chuquisaca">Chuquisaca</option>
					  <option value="Beni">Beni</option>
					  <option value="Pando">Pando</option>
					  <option value="Tarija">Tarija</option>
					</select>
		</div>
		<div class="form-group">
			<label>Email</label>
			<input type="email" class="form-control" required name="email">
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<label>Teléfono móvil</label>
					<input type="number" class="form-control" required name="tmovil">
				</div>
				<div class="col-sm-6">
					<label>Teléfono de referencia</label>
					<input type="number" class="form-control" name="tref">
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row" class="form-control">
				<div class="col-sm-6">
					<label>Fecha de nacimiento</label>
					<input type="date" max="<%= maxdate%>" class="form-control" name="bday" required>
				</div>
				<div class="col-sm-6">
					<label>Sexo</label>
					<select name="sexo" class="form-control">
					  <option value="hombre">Hombre</option>
					  <option value="mujer">Mujer</option>
					  <option value="indefinido">Indefinido</option>
					</select>
	  			</div>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-warning btn-lg">Registrar nuevo cliente</button>
	</form>

	<br>

	<p>Cliente ya registrado? <a href="/login">Ingresar</a></p>
	<p>ir al <a href="/">Home</a>.</p>

	<hr>
		  <div class="row">
		    <div class="col-sm-12">
		      <div class="col-sm-6">
		        <a href="#">Instrucciones de Uso</a> | <a href="#">Problemas?</a>    
		      </div>
		      <div class="col-sm-6">
		        <p class="muted pull-right">© 2018 El Cortijo PUB. Todos los derechos reservados</p>
		      </div>
		    </div>
		  </div>
		</div>
	

</div>

</body>
</html>
