<!-- views/staff.ejs -->
<!doctype html>
<html>
<head>
	<title>Registrar personal de Stuff</title>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js'></script>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
	<style>
		body 		{ padding-top:40px; }
	</style>
</head>
<body>
	
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-users"></span> Registro de personal de Stuff</h1>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert <%= msgtype%>"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/regstaff" method="post">
		<div class="form-group">
			<label >Email</label>
			<input type="email" class="form-control" required name="email">
		</div>
		<div class="form-group">
			<label class="control-label">Password</label>
			<input type="password" class="form-control" required name="password">
		</div>
		<hr>
		<div class="form-group">
			<label>Nombres</label>
			<input type="text" class="form-control" name="nombres" disabled>
		</div>
		<div class="form-group">
			<label>Apellidos</label>
			<input type="text" class="form-control" name="apellidos" disabled>
		</div>
		<div class="form-group">
			<label>Documento de Identidad</label>
			<input type="number" class="form-control" name="ci" disabled>
		</div>
		<div class="form-group">
			<div class="row">
				<div class="col-sm-6">
					<label>Teléfono móvil</label>
					<input type="number" class="form-control" name="tmovil" disabled>
				</div>
				<div class="col-sm-6">
					<label>Teléfono de referencia</label>
					<input type="nember" class="form-control" name="tref" disabled>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="row" class="form-control">
				<div class="col-sm-6">
					<label>Fecha de nacimiento</label>
					<input type="date" class="form-control" name="bday" disabled>
				</div>
				<div class="col-sm-6">
					<label>Sexo</label>
					<select name="sexo" class="form-control" disabled>
					  <option value="hombre">Hombre</option>
					  <option value="mujer">Mujer</option>
					  <option value="indefinido">Indefinido</option>
					</select>
	  			</div>
			</div>
		</div>
		<label>Área</label>
		<select name="sexo" class="form-control" disabled>
			<option value="adminstracion">Administración</option>
			<option value="seguridad">Seguridad</option>
			<option value="mesa">Mesa</option>
			<option value="bar">Bar</option>
			<option value="caja">Caja</option>
			<option value="supervisor">Supervisor de personal</option>
			<option value="limpieza">Limpieza</option>
			<option value="cocina">Cocina</option>
			<option value="sonido">Sonido</option>
			<option value="indefinido">Indefinido</option>
		</select>
		<br>
		<button type="submit" class="btn btn-warning btn-lg">Registrar</button>
	</form>

	<br>
	<p>ir al <a href="/loginstaff">Log-In Staff</a>.</p>

		  <hr>
		  <div class="row">
		    <div class="col-sm-12">
		      <div class="col-sm-6">
		        <a href="#">Instrucciones de Uso</a> | <a href="#">Problemas?</a>    
		      </div>
		      <div class="col-sm-6">
		        <p class="muted pull-right">© 2018 El Cortijo PUB. Todos los derechos reservados</p>
		      </div>
		    </div>
		  </div>
		</div>
	
</div>

</body>
</html>